:root {
    --primary-color: rgb(55, 212, 89);
    --primary-hover: rgb(32, 143, 56);
    --primary-dark-hover: rgb(15, 99, 33);
    --primary-light-hover: rgb(143, 255, 167);
    --primary-gray: rgb(150, 150, 150);
    --primary-transition: 0.3s;
    --primary-border-radius: 10px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}